In [1]:
import pandas as pd
from sklearn.decomposition import PCA

In [3]:
# 读取数据
# 1.读取商品类别表
aisles = pd.read_csv('instacart-market-basket-analysis/aisles.csv')

In [4]:
# 2.读取商品表
products = pd.read_csv('instacart-market-basket-analysis/products.csv')

In [7]:
# 3.读取产品订单表
order_products = pd.read_csv('instacart-market-basket-analysis/order_products__prior.csv')

In [8]:
# 4.读取订单表
orders = pd.read_csv('instacart-market-basket-analysis/orders.csv')

In [9]:
# 对表进行拼接操作
mg1 = pd.merge(products, aisles, on='aisle_id')

In [11]:
mg2 = pd.merge(orders, order_products, on='order_id')

In [12]:
mg3 = pd.merge(mg1, mg2, on='product_id')
mg3.head()

,product_id,product_name,aisle_id,department_id,aisle,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
0,1,Chocolate Sandwich Cookies,61,19,cookies cakes,3139998,138,prior,28,6,11,3.0,5,0
1,1,Chocolate Sandwich Cookies,61,19,cookies cakes,1977647,138,prior,30,6,17,20.0,1,1
2,1,Chocolate Sandwich Cookies,61,19,cookies cakes,389851,709,prior,2,0,21,6.0,20,0
3,1,Chocolate Sandwich Cookies,61,19,cookies cakes,652770,764,prior,1,3,13,NaN,10,0
4,1,Chocolate Sandwich Cookies,61,19,cookies cakes,1813452,764,prior,3,4,17,9.0,11,1

In [13]:
# 使用交叉表进行分组
cross = pd.crosstab(mg3['user_id'], mg3['aisle'])
cross.head(10)

aisle,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,3,0,0,0,0,2,0,0,0,...,3,1,1,0,0,0,0,2,0,42
3,0,0,0,0,0,0,0,0,0,0,...,4,1,0,0,0,0,0,2,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,5
8,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,6,0,2,0,0,0,...,0,0,0,0,0,0,0,2,0,19
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [14]:
# 对数据进行降维，主成分分析
pca = PCA(n_components=0.9)
data = pca.fit_transform(cross)
print(data)

[[-2.42156587e+01  2.42942720e+00 -2.46636975e+00 ...  6.86800336e-01
   1.69439402e+00 -2.34323022e+00]
 [ 6.46320806e+00  3.67511165e+01  8.38255336e+00 ...  4.12121252e+00
   2.44689740e+00 -4.28348478e+00]
 [-7.99030162e+00  2.40438257e+00 -1.10300641e+01 ...  1.77534453e+00
  -4.44194030e-01  7.86665571e-01]
 ...
 [ 8.61143331e+00  7.70129866e+00  7.95240226e+00 ... -2.74252456e+00
   1.07112531e+00 -6.31925661e-02]
 [ 8.40862199e+01  2.04187340e+01  8.05410372e+00 ...  7.27554259e-01
   3.51339470e+00 -1.79079914e+01]
 [-1.39534562e+01  6.64621821e+00 -5.23030367e+00 ...  8.25329076e-01
   1.38230701e+00 -2.41942061e+00]]